*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #19183B;
    text-align: center;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}
*::selection{
    background-color:white;
    color: #19183B;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    caret-color: transparent;
    outline: none;
}
.container h1{
    font-size: 2.5rem;
    animation: move 1s ease-out;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    height: 70%;
    width: 30%;
    padding: 1rem;
    border-radius: 20px;
    background-color: #A1C2BD;
    animation: move 2s ease-out;
}
.left{
    position: absolute;
    left: 200px;
    font-size: 2.5rem;
    color: white;
}
.right{
    position: absolute;
    right: 200px;
    font-size: 2.5rem;
    color: white;
}
.btn{
    width: 28%;
    height: 28%;
    border-radius: 1rem;
    font-size: 5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    color: #19183B;
    background-color: #FAF8F1;
    cursor: pointer;
}

.resetbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #A1C2BD;
    color: #19183B;
    border-radius: 1rem;
    border: none;
    transition: all 0.5s ease;
    animation: move 2s ease-out;
}
.resetbtn:hover{
    background-color: #19183B;
    color: #A1C2BD;
    border: 1px solid #191913;
    border: 1px solid #A1C2BD;
}

@keyframes move{
    from{
        opacity: 0;
        transform: translateY(400px);
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
/* responsive */
@media(max-width:1200px) {
    .left{
        left: 100px;
    }
    .right{
        right: 100px;
    }
    
}

@media(max-width:1000px) {
    .left{
        left: 50px;
    }
    .right{
        right: 50px;
    }
    .game{
        width: 35%;
        height: 72%;
    }
}

@media(max-width:900px) {
    .left{
        position: relative;
        left: 0;
    }
    .right{
        position: relative;
        right: 0;
    }
    .game{
        width: 38%;
        height: 72%;
    } 
}

@media(max-width:800px) {
    .game{
        width: 40%;
        height: 70%;
    }   
}

@media(max-width:700px) {
    .game{
        width: 45%;
        height: 70%;
    } 
    .btn{
        font-size: 3.5rem;
    } 
}

@media(max-width:600px) {
    .game{
        width: 60%; 
        height: 80%;
    }  
}

@media(max-width:500px) {
    .game{
        width: 70%;
        height: 80%;
    } 
    .container{
        gap: 0.8rem;
    }
    .container h1{
        font-size: 2.1rem;
    } 
}

@media(max-width:400px) {
    .game{
        width: 90%;
        height: 55%;
    } 
    
}


